@model IEnumerable<MenuItem>

@if (Model.Count() > 0)
{
    <div class="col-12 post @Model.FirstOrDefault().Categories.Name.Replace(" ",string.Empty) menu-restaurant">
        <div class="row">
            <h3 class="text-white mx-3" style="background-color:darkgray; width:100%; border-radius:5px; padding: 7px 2px">
                    @Model.FirstOrDefault().Categories.Name
            </h3>
        </div>

        @foreach (var item in Model)
	    {
		 <div class="border border-info rounded col-12" style="margin:5px 0 0px 0; padding:10px;">
             <div class="row">
                 <div class="col-md-3 col-sm-12">
                     <img src="@item.Image" style="border-radius:5px; width:100%; border: 1px solid #bbb9b9"/>
                 </div>
                 <div class="col-md-9 col-sm-12">
                     <div class="row pr-3">
                         <div class="col-9">
                             <label style="font-size:16px;" class="text-success mr-2 font-weight-bold">@item.Name</label>
                             @if (item.Spicyness == "1")
                             {
                                 <img src="/images/hot-one.jpg" title="spicy1" style="width:10%; border: solid red 1px; border-radius:5px;"/>
                             }
                             @if (item.Spicyness == "2")
                             {
                                 <img src="/images/hot-two.jpg" title="spicy2" style="width: 10%; border: solid red 1px; border-radius: 5px;"/>
                             }
                             @if (item.Spicyness == "3")
                             {
                                 <img src="/images/hot-three.jpg" title="spicy3" style="width: 10%;border: solid red 1px; border-radius: 5px;" />
                             }
                         </div>
                         <div class="col-3 text-right text-secondary">
                             <h4>$@item.Price</h4>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-12 text-justify d-none d-md-block">
                             <p>@Html.Raw(item.Description)</p>
                         </div>

                     </div>
                 </div>
             </div>
         </div>
        <div class="row">
            <div class="col-sm-12 col-md-1 offset-md-11">
                <a asp-action="Details" class="btn-sm btn-success btn-block" asp-route-id="@item.Id">
                    Details
                </a>
            </div>

        </div>
	    }
    <div class="p-4"></div>
    </div>
}